In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import Ridge, RidgeCV, ElasticNet, LassoCV, LassoLarsCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn import svm
import lightgbm as lgb
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
import matplotlib
import matplotlib.pyplot as plt
from scipy.stats import skew
from scipy.stats.stats import pearsonr
from scipy import stats
import xgboost as xgb
from scipy.stats import norm
#from pyglmnet import GLM # Marco: need to understand how to install this 
from sklearn.preprocessing import StandardScaler
from subprocess import call
from sklearn.cross_validation import KFold

from IPython import get_ipython
get_ipython().run_line_magic('matplotlib', 'inline')

# Create Ensemble class

In [5]:
class Ensemble(object):
    def __init__(self, n_folds, stacker, base_models,seed_value):
        self.n_folds = n_folds
        self.stacker = stacker
        self.base_models = base_models
        self.seed_value = seed_value
        
    def fit_predict(self, X, y, T):
        X = np.array(X)
        y = np.array(y)
        T = np.array(T)
        
        folds = list(KFold(len(y), n_folds=self.n_folds, shuffle=True, random_state=self.seed_value))
        #folds = KFold(n_splits=self.n_folds, shuffle=True, random_state=self.seed_value)
        
        print("folds=",folds)
        
        S_train = np.zeros((X.shape[0], len(self.base_models)))
        S_test = np.zeros((T.shape[0], len(self.base_models)))
        
        for i, reg in enumerate(self.base_models):
            S_test_i = np.zeros((T.shape[0], len(folds)))
            for j, (train_idx, test_idx) in enumerate(folds):
                X_train = X[train_idx]
                y_train = y[train_idx]
                X_holdout = X[test_idx]
                # y_holdout = y[test_idx]
                reg.fit(X_train, y_train)
                y_pred = reg.predict(X_holdout)[:]
                S_train[test_idx, i] = y_pred
                S_test_i[:, j] = reg.predict(T)[:]
            S_test[:, i] = S_test_i.mean(1)
        self.stacker.fit(S_train, y)
        y_pred = self.stacker.predict(S_test)[:]
        return y_pred

# Read in the dataset

In [6]:
    
seed = 2017
nfold = 5
bmodels = ["elasticnet","et","lgb","rf","xgb"]
    
train = pd.read_csv("../../data/X_train_v2.csv")
y = train['SalePrice']
X = train.loc[:,'MSSubClass':'SaleCondition_Partial']
    
test = pd.read_csv("../../data/X_test_v2.csv")
id = test["Id"]
T = test.loc[:,'MSSubClass':'SaleCondition_Partial']
    
#Set the base models

base_models_name = []
for j in range(len(bmodels)):
        modelname = ("../../models/single/model_" + bmodels[j] + ".py")
        print(modelname)
        base_models_name.append(modelname)

print(base_models_name)
base_models = []
    
for i, bm in enumerate(base_models_name):
        model = !grep "model =" {bm}
        model = model[0]
        model = model[12:]
        model = eval(model)
        base_models.append(model)
#print(model)
#print(base_models) 

# Set the stacker model

xgb = xgb.XGBRegressor(n_estimators=250,learning_rate=0.1,max_depth=4,min_child_weight=1,objective='reg:linear')
# Call stacking
    
ens = Ensemble(n_folds=nfold, stacker=xgb,base_models=base_models,seed_value=seed)

../../models/single/model_elasticnet.py
../../models/single/model_et.py
../../models/single/model_lgb.py
../../models/single/model_rf.py
../../models/single/model_xgb.py
['../../models/single/model_elasticnet.py', '../../models/single/model_et.py', '../../models/single/model_lgb.py', '../../models/single/model_rf.py', '../../models/single/model_xgb.py']

In [7]:
    
results = ens.fit_predict(X,y,T)
print("results=",results)

folds= [(array([   0,    1,    2, ..., 1436, 1437, 1438]), array([  17,   20,   25,   41,   54,   55,   56,   57,   61,   64,   93,
        100,  102,  114,  115,  116,  117,  119,  120,  123,  128,  160,
        166,  168,  179,  183,  188,  189,  191,  192,  196,  213,  216,
        222,  230,  232,  235,  238,  239,  243,  257,  261,  262,  263,
        270,  271,  273,  277,  282,  296,  299,  300,  313,  317,  319,
        331,  332,  333,  350,  353,  356,  358,  364,  371,  374,  375,
        377,  379,  383,  389,  391,  397,  401,  411,  413,  414,  416,
        421,  423,  426,  433,  434,  435,  436,  441,  443,  449,  451,
        457,  460,  461,  462,  463,  464,  465,  478,  480,  481,  484,
        487,  492,  497,  499,  505,  510,  522,  530,  534,  536,  539,
        544,  546,  554,  555,  556,  557,  570,  571,  575,  577,  601,
        609,  617,  623,  636,  639,  642,  649,  650,  651,  652,  657,
        668,  679,  681,  684,  692,  698,  701,  714,  717,  718,  723,
        727,  735,  737,  738,  749,  751,  759,  764,  779,  780,  792,
        795,  798,  800,  806,  812,  828,  835,  838,  843,  856,  861,
        867,  868,  869,  873,  875,  876,  879,  880,  887,  892,  893,
        912,  918,  934,  936,  944,  946,  950,  952,  955,  982,  983,
        987,  988,  991,  993,  997,  998, 1004, 1009, 1012, 1018, 1024,
       1025, 1026, 1028, 1030, 1037, 1043, 1045, 1054, 1055, 1056, 1059,
       1065, 1068, 1087, 1089, 1091, 1092, 1104, 1108, 1113, 1115, 1116,
       1122, 1134, 1140, 1142, 1152, 1160, 1175, 1177, 1180, 1186, 1190,
       1192, 1194, 1199, 1201, 1203, 1213, 1215, 1217, 1218, 1231, 1232,
       1237, 1253, 1254, 1259, 1264, 1269, 1272, 1281, 1285, 1292, 1295,
       1299, 1300, 1302, 1305, 1306, 1311, 1316, 1320, 1322, 1324, 1325,
       1337, 1342, 1344, 1348, 1349, 1353, 1354, 1357, 1371, 1373, 1382,
       1385, 1392, 1398, 1407, 1408, 1410, 1411, 1412, 1415, 1425, 1428,
       1430, 1435])), (array([   2,    3,    4, ..., 1436, 1437, 1438]), array([   0,    1,    5,   11,   15,   18,   21,   30,   33,   36,   42,
         59,   60,   63,   67,   72,   76,   78,   81,   82,   86,   94,
         97,  104,  106,  108,  111,  121,  134,  138,  140,  148,  149,
        150,  155,  157,  161,  162,  165,  174,  181,  186,  190,  194,
        197,  202,  206,  207,  211,  214,  218,  219,  221,  237,  241,
        247,  249,  259,  285,  287,  288,  308,  311,  312,  314,  323,
        324,  336,  340,  347,  351,  355,  360,  361,  362,  363,  368,
        381,  382,  387,  390,  396,  399,  400,  402,  417,  420,  429,
        430,  432,  438,  452,  467,  472,  473,  476,  482,  485,  501,
        503,  509,  512,  516,  517,  523,  538,  548,  550,  551,  552,
        558,  561,  562,  563,  580,  585,  597,  603,  605,  618,  621,
        624,  625,  632,  635,  638,  640,  644,  647,  656,  662,  665,
        687,  690,  693,  697,  706,  710,  712,  726,  728,  733,  734,
        742,  744,  747,  757,  758,  763,  765,  766,  773,  776,  777,
        783,  787,  788,  791,  794,  809,  811,  818,  819,  821,  829,
        830,  833,  837,  842,  849,  853,  857,  864,  866,  870,  890,
        891,  905,  907,  908,  914,  917,  920,  922,  923,  927,  931,
        932,  937,  938,  941,  943,  962,  963,  981,  986,  999, 1000,
       1005, 1008, 1014, 1015, 1017, 1020, 1029, 1032, 1033, 1034, 1035,
       1038, 1044, 1046, 1060, 1063, 1069, 1075, 1085, 1086, 1090, 1096,
       1099, 1100, 1101, 1103, 1105, 1120, 1125, 1138, 1144, 1146, 1150,
       1165, 1166, 1172, 1174, 1176, 1178, 1179, 1181, 1182, 1184, 1187,
       1189, 1204, 1205, 1207, 1212, 1219, 1223, 1227, 1230, 1248, 1256,
       1258, 1262, 1265, 1268, 1271, 1280, 1282, 1286, 1289, 1291, 1293,
       1296, 1321, 1330, 1335, 1340, 1341, 1345, 1355, 1358, 1363, 1365,
       1370, 1372, 1379, 1384, 1386, 1387, 1388, 1391, 1394, 1396, 1404,
       1421, 1424])), (array([   0,    1,    2, ..., 1434, 1435, 1437]), array([   7,   10,   12,   19,   24,   27,   32,   34,   40,   43,   44,
         45,   48,   50,   52,   53,   62,   71,   84,   89,   92,   95,
         96,   98,  101,  107,  118,  129,  132,  133,  136,  139,  145,
        146,  147,  151,  154,  159,  163,  164,  170,  173,  177,  182,
        184,  185,  187,  201,  210,  217,  226,  227,  229,  233,  236,
        242,  245,  246,  250,  253,  254,  266,  267,  278,  281,  283,
        289,  290,  293,  304,  305,  306,  310,  322,  326,  327,  329,
        335,  339,  367,  369,  370,  376,  403,  405,  407,  412,  422,
        428,  437,  440,  442,  446,  455,  458,  468,  486,  488,  493,
        496,  498,  500,  502,  504,  507,  515,  520,  526,  527,  528,
        532,  533,  535,  540,  545,  553,  564,  567,  569,  572,  573,
        576,  578,  581,  583,  584,  586,  588,  595,  598,  602,  604,
        611,  615,  622,  630,  637,  641,  648,  655,  660,  663,  667,
        669,  672,  674,  677,  694,  702,  708,  709,  715,  720,  721,
        732,  736,  741,  743,  745,  746,  748,  750,  755,  756,  761,
        762,  767,  768,  769,  772,  774,  775,  789,  796,  797,  803,
        810,  815,  816,  820,  824,  826,  834,  839,  845,  846,  847,
        851,  852,  859,  881,  882,  884,  897,  904,  913,  925,  942,
        961,  969,  980,  984,  989,  994,  995, 1003, 1019, 1027, 1031,
       1042, 1048, 1049, 1057, 1061, 1066, 1067, 1071, 1072, 1074, 1077,
       1082, 1083, 1102, 1109, 1117, 1119, 1121, 1123, 1124, 1135, 1136,
       1139, 1143, 1145, 1153, 1154, 1162, 1164, 1168, 1170, 1188, 1193,
       1197, 1202, 1209, 1211, 1220, 1221, 1228, 1233, 1234, 1239, 1242,
       1244, 1247, 1250, 1255, 1261, 1263, 1270, 1277, 1279, 1294, 1297,
       1298, 1307, 1309, 1315, 1326, 1327, 1329, 1338, 1343, 1347, 1359,
       1369, 1375, 1377, 1380, 1389, 1390, 1395, 1401, 1405, 1419, 1433,
       1436, 1438])), (array([   0,    1,    4, ..., 1435, 1436, 1438]), array([   2,    3,   23,   26,   31,   37,   38,   39,   69,   73,   74,
         77,   79,   83,   87,   91,   99,  105,  113,  124,  125,  127,
        131,  137,  141,  142,  144,  152,  153,  156,  158,  171,  175,
        176,  205,  209,  215,  225,  228,  231,  234,  244,  248,  251,
        258,  260,  265,  268,  275,  279,  286,  291,  292,  297,  298,
        301,  303,  315,  316,  318,  328,  330,  337,  338,  341,  343,
        346,  348,  354,  357,  359,  365,  366,  372,  373,  380,  386,
        388,  393,  406,  409,  410,  415,  418,  425,  431,  439,  445,
        448,  453,  454,  469,  474,  479,  489,  508,  513,  518,  521,
        531,  537,  542,  543,  560,  565,  566,  574,  589,  590,  593,
        600,  610,  612,  619,  626,  628,  633,  634,  645,  654,  658,
        659,  664,  666,  670,  673,  678,  680,  682,  683,  685,  689,
        691,  695,  699,  700,  705,  711,  713,  716,  719,  724,  730,
        731,  740,  752,  754,  770,  782,  785,  793,  799,  801,  805,
        807,  813,  814,  823,  825,  827,  836,  840,  841,  848,  850,
        855,  862,  863,  878,  883,  885,  888,  889,  898,  899,  901,
        902,  903,  910,  921,  924,  929,  933,  945,  951,  954,  956,
        960,  964,  966,  970,  973,  974,  975,  977,  985, 1006, 1007,
       1010, 1013, 1016, 1021, 1023, 1040, 1047, 1050, 1051, 1053, 1076,
       1079, 1080, 1081, 1084, 1088, 1097, 1107, 1110, 1111, 1112, 1114,
       1126, 1128, 1137, 1141, 1147, 1149, 1151, 1155, 1156, 1157, 1158,
       1159, 1163, 1169, 1173, 1183, 1185, 1198, 1200, 1206, 1208, 1210,
       1216, 1226, 1229, 1236, 1238, 1243, 1245, 1249, 1251, 1257, 1260,
       1266, 1267, 1283, 1284, 1287, 1288, 1290, 1303, 1310, 1314, 1317,
       1323, 1328, 1331, 1332, 1346, 1350, 1352, 1356, 1360, 1364, 1367,
       1378, 1381, 1393, 1400, 1409, 1413, 1414, 1416, 1420, 1423, 1432,
       1434, 1437])), (array([   0,    1,    2, ..., 1436, 1437, 1438]), array([   4,    6,    8,    9,   13,   14,   16,   22,   28,   29,   35,
         46,   47,   49,   51,   58,   65,   66,   68,   70,   75,   80,
         85,   88,   90,  103,  109,  110,  112,  122,  126,  130,  135,
        143,  167,  169,  172,  178,  180,  193,  195,  198,  199,  200,
        203,  204,  208,  212,  220,  223,  224,  240,  252,  255,  256,
        264,  269,  272,  274,  276,  280,  284,  294,  295,  302,  307,
        309,  320,  321,  325,  334,  342,  344,  345,  349,  352,  378,
        384,  385,  392,  394,  395,  398,  404,  408,  419,  424,  427,
        444,  447,  450,  456,  459,  466,  470,  471,  475,  477,  483,
        490,  491,  494,  495,  506,  511,  514,  519,  524,  525,  529,
        541,  547,  549,  559,  568,  579,  582,  587,  591,  592,  594,
        596,  599,  606,  607,  608,  613,  614,  616,  620,  627,  629,
        631,  643,  646,  653,  661,  671,  675,  676,  686,  688,  696,
        703,  704,  707,  722,  725,  729,  739,  753,  760,  771,  778,
        781,  784,  786,  790,  802,  804,  808,  817,  822,  831,  832,
        844,  854,  858,  860,  865,  871,  872,  874,  877,  886,  894,
        895,  896,  900,  906,  909,  911,  915,  916,  919,  926,  928,
        930,  935,  939,  940,  947,  948,  949,  953,  957,  958,  959,
        965,  967,  968,  971,  972,  976,  978,  979,  990,  992,  996,
       1001, 1002, 1011, 1022, 1036, 1039, 1041, 1052, 1058, 1062, 1064,
       1070, 1073, 1078, 1093, 1094, 1095, 1098, 1106, 1118, 1127, 1129,
       1130, 1131, 1132, 1133, 1148, 1161, 1167, 1171, 1191, 1195, 1196,
       1214, 1222, 1224, 1225, 1235, 1240, 1241, 1246, 1252, 1273, 1274,
       1275, 1276, 1278, 1301, 1304, 1308, 1312, 1313, 1318, 1319, 1333,
       1334, 1336, 1339, 1351, 1361, 1362, 1366, 1368, 1374, 1376, 1383,
       1397, 1399, 1402, 1403, 1406, 1417, 1418, 1422, 1426, 1427, 1429,
       1431]))]
results= [ 11.48879814  11.95063877  12.08986664 ...,  12.01431656  11.7202692
  12.32922554]

In [8]:
results = np.expm1(results)

In [9]:
print("results=",results)
results = pd.DataFrame(results)
results = pd.concat([id,results], axis=1)
results.columns =["Id","SalePrice"]
print("results=",results)
results.to_csv("./ensembled_results.csv", index = False)

results= [  97615.140625  154915.0625    178057.359375 ...,  165100.640625
  123039.546875  226210.46875 ]
results=         Id      SalePrice
0     1461   97615.140625
1     1462  154915.062500
2     1463  178057.359375
3     1464  193808.718750
4     1465  187840.078125
5     1466  169516.000000
6     1467  180018.859375
7     1468  167481.328125
8     1469  181983.218750
9     1470  119354.906250
10    1471  183439.406250
11    1472   94102.484375
12    1473   92549.671875
13    1474  149598.937500
14    1475  111228.656250
15    1476  390285.250000
16    1477  250941.859375
17    1478  308475.375000
18    1479  266444.406250
19    1480  596359.250000
20    1481  337628.968750
21    1482  211879.906250
22    1483  174220.343750
23    1484  167095.250000
24    1485  196084.109375
25    1486  195175.343750
26    1487  335670.875000
27    1488  233510.750000
28    1489  203888.250000
29    1490  234890.843750
...    ...            ...
1429  2890   70925.218750
1430  2891  135507.375000
1431  2892   35153.613281
1432  2893   78600.140625
1433  2894   43423.648438
1434  2895  374681.281250
1435  2896  281681.093750
1436  2897  215251.843750
1437  2898  146873.828125
1438  2899  204647.218750
1439  2900  171668.218750
1440  2901  187708.093750
1441  2902  177117.578125
1442  2903  323721.250000
1443  2904  366247.250000
1444  2905   75423.710938
1445  2906  205664.812500
1446  2907  110507.453125
1447  2908  132248.953125
1448  2909  149324.421875
1449  2910   72802.507812
1450  2911   85425.250000
1451  2912  150187.328125
1452  2913   90907.015625
1453  2914   77947.562500
1454  2915   84171.125000
1455  2916   84288.890625
1456  2917  165100.640625
1457  2918  123039.546875
1458  2919  226210.468750

[1459 rows x 2 columns]

In [10]:
results

        Id      SalePrice
0     1461   97615.140625
1     1462  154915.062500
2     1463  178057.359375
3     1464  193808.718750
4     1465  187840.078125
5     1466  169516.000000
6     1467  180018.859375
7     1468  167481.328125
8     1469  181983.218750
9     1470  119354.906250
10    1471  183439.406250
11    1472   94102.484375
12    1473   92549.671875
13    1474  149598.937500
14    1475  111228.656250
15    1476  390285.250000
16    1477  250941.859375
17    1478  308475.375000
18    1479  266444.406250
19    1480  596359.250000
20    1481  337628.968750
21    1482  211879.906250
22    1483  174220.343750
23    1484  167095.250000
24    1485  196084.109375
25    1486  195175.343750
26    1487  335670.875000
27    1488  233510.750000
28    1489  203888.250000
29    1490  234890.843750
...    ...            ...
1429  2890   70925.218750
1430  2891  135507.375000
1431  2892   35153.613281
1432  2893   78600.140625
1433  2894   43423.648438
1434  2895  374681.281250
1435  2896  281681.093750
1436  2897  215251.843750
1437  2898  146873.828125
1438  2899  204647.218750
1439  2900  171668.218750
1440  2901  187708.093750
1441  2902  177117.578125
1442  2903  323721.250000
1443  2904  366247.250000
1444  2905   75423.710938
1445  2906  205664.812500
1446  2907  110507.453125
1447  2908  132248.953125
1448  2909  149324.421875
1449  2910   72802.507812
1450  2911   85425.250000
1451  2912  150187.328125
1452  2913   90907.015625
1453  2914   77947.562500
1454  2915   84171.125000
1455  2916   84288.890625
1456  2917  165100.640625
1457  2918  123039.546875
1458  2919  226210.468750

[1459 rows x 2 columns]

In [11]:
id

0       1461
1       1462
2       1463
3       1464
4       1465
5       1466
6       1467
7       1468
8       1469
9       1470
10      1471
11      1472
12      1473
13      1474
14      1475
15      1476
16      1477
17      1478
18      1479
19      1480
20      1481
21      1482
22      1483
23      1484
24      1485
25      1486
26      1487
27      1488
28      1489
29      1490
        ...
1429    2890
1430    2891
1431    2892
1432    2893
1433    2894
1434    2895
1435    2896
1436    2897
1437    2898
1438    2899
1439    2900
1440    2901
1441    2902
1442    2903
1443    2904
1444    2905
1445    2906
1446    2907
1447    2908
1448    2909
1449    2910
1450    2911
1451    2912
1452    2913
1453    2914
1454    2915
1455    2916
1456    2917
1457    2918
1458    2919
Name: Id, dtype: int64